@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(./xmenbg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 35vw;
}

.right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 65vw;
}